<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CARBON_CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d] %5p {%c} - %m%ex%n"/>
        </Console>
        <RollingFile name="CARBON_LOGFILE" fileName="${sys:carbon.home}/repository/logs/carbon.log"
                     filePattern="${sys:carbon.home}/logs/carbon-%d{MM-dd-yyyy}.log">
            <PatternLayout pattern="[%d] %5p {%c} - %m%ex%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="CARBON_CONSOLE"/>
            <AppenderRef ref="CARBON_LOGFILE"/>
        </Root>
        <!--<Logger name="org.wso2.carbon.kernel" level="debug"/>-->
        <Logger name="org.hibernate.validator" level="fatal"/>
    </Loggers>
</Configuration>
